* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav {
  width: 100vw;
  background-color: #253527;
  color: #fff; }
  .nav .nav_center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; }
    .nav .nav_center .nav_list {
      width: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .nav .nav_center .nav_list .nav_list_item {
        list-style: none; }
        .nav .nav_center .nav_list .nav_list_item .nav_list_link {
          text-decoration: none;
          color: #fff;
          transition: color .3s ease; }
          .nav .nav_center .nav_list .nav_list_item .nav_list_link:hover {
            color: darkgoldenrod; }

.content {
  width: 100%; }
  .content center {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
    .content center .card {
      width: 20%;
      border-radius: 4px;
      height: 24rem;
      padding: 1rem;
      border: 2px solid #2e6b48;
      display: flex;
      flex-direction: column; }
      .content center .card .card_img {
        width: 100%;
        height: 70%; }
      .content center .card .card_labels {
        margin-top: 1rem;
        width: 95%;
        height: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center; }
        .content center .card .card_labels .card_label {
          width: 40%;
          height: 100%;
          background-color: #2e6b48;
          color: #fff;
          border-radius: 4px; }
      .content center .card .card_btn {
        width: 50%;
        height: 1.6rem;
        background-color: #fff;
        border: 2px solid #2e6b48;
        margin-top: 1.5rem;
        align-self: center;
        border-radius: 4px;
        justify-self: flex-end;
        transition: .3s;
        cursor: pointer; }
        .content center .card .card_btn:hover {
          background-color: #2e6b48;
          color: #fff; }
