<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="../css/shop.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <center class="nav_center">
          <h1 class="nav_logo">Express JS</h1>
          <ul class="nav_list">
            <li class="nav_list_item">
              <a class="nav_list_link" href="./shop.html">Shop</a>
            </li>
            <li class="nav_list_item">
              <a class="nav_list_link" href="./admin/add-product.html">
                Add Product
              </a>
            </li>
          </ul>
        </center>
      </nav>
    </header>

    <main>
      <h1>Products</h1>
    </main>
  </body>
</html>
